// src/styles/main.scss

@use 'vuetify/styles';

$primary: #023047;
$secondary: #FE5000;
$grey-1: #A0A0A0;
$grey-2: #D9D9D9;
$white: #FFFFFF;
$black: #000000;

$light-blue: #F1FAFC;

//Cores dos Tipos de Acesso da página de usuários 
$red-letter: #B91C1C;
$red-bg: #FEE2E2;
$green-letter: #166534;
$green-bg: #DCFCE7;
$blue-letter: #1D4ED8;
$blue-bg: #DBEAFE;

.v-navigation-drawer__scrim {
  z-index: 1019 !important;
}

  